services:
  java-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    depends_on:
      - python-service
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 5s
      retries: 5

  python-service:
    build:
      context: backend-python
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    restart: unless-stopped