@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  overflow-y: auto;
}

header {
  display: flex;
  align-items: center;
  background-color: #ffa600;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  border: #fff 2px solid;
  border-radius: 9999px;
  height: 100px;
  margin-left: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.logo a {
  color: #fff;
  font-weight: 1000;
  text-decoration: none;
  padding: 10px;
  font-size: 2.5em;
  margin: auto;
}

.nav-links {
  margin-left: auto;
  margin-right: 20px;
  align-items: center;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  margin: 0 15px;
  font-size: 1.2em;
  padding: 10px 15px;
  transition: color 0.3s, background 0.3s;
}

.nav-links a:hover {
  background: #111;
  color: #ffa600;
  transition: color 0.3s, background 0.3s;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero {
  text-align: center;
  padding: 50px 20px;
}

.hero .btn {
  display: inline-block;
  background: #ffa600;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 30px;
  font-size: 1.2em;
  margin-top: 20px;
  transition: background 0.3s, color 0.3s;
}

.hero .btn:hover {
  background: #111;
  color: #ffa600;
  transition: background 0.3s, color 0.3s;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 40px;
}

.feature {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33% - 40px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.feature img {
  border: #111 2px solid;
  height: 80px;
  margin-bottom: 15px;
}

footer {
  background: #222;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}
